body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgb(184, 131, 140),
    rgba(208, 255, 0, 0.329)
  );
}

.main {
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 300rem;
  padding: 0.6rem;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
  .container {
    max-width: 40rem;
    padding: 3rem;
    margin: 0 auto;
  }
}

.form {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 2px;
}

.input {
  border: none;
  height: 2rem;
  border-radius: 12px;
  padding-left: 10px;
  min-width: 60%;
}
.button {
  height: 2rem;
  min-width: 6rem;
  border-radius: 12px;
  border: none;
  background-color: green;
  color: white;
  font-weight: 700;
  margin-right: 20px;
}
.text {
  border: none;
  height: 2rem;
  border-radius: 12px;
  padding-left: 10px;

  min-width: 68%;
  background-color: white;
  margin-bottom: 0.6rem;
  padding-top: 0.6rem;
  overflow: hidden; /* Prevent content overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis;
  font-weight: 300;
}

.button2 {
  margin-left: 0.6rem;
  margin-right: 2rem;
  background-color: red;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 12px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-bottom: 1rem;
}

.checkbox {
  transform: scale(1.9);
  margin-bottom: 15px;
  margin-right: 10px;
}
